<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-form-arr></app-form-arr> -->
<!-- <app-parent></app-parent> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-template-drivem-form></app-template-drivem-form> -->
<!-- <app-route></app-route> -->
<!-- <app-topics></app-topics> -->
<!-- <app-test-one></app-test-one> -->
<!-- <app-test-two></app-test-two> -->
<!-- <app-test-three></app-test-three> -->
<!-- <app-test-four></app-test-four> -->
<!-- <app-test-five></app-test-five> -->
<!-- <app-test-six></app-test-six> -->
<!-- <app-test-seven></app-test-seven> -->
<!-- <app-mummy-papa></app-mummy-papa> -->
<!-- <app-parent-one></app-parent-one> -->
<!-- <app-tic-tac-toe></app-tic-tac-toe> -->
<!-- <app-simple-formarray></app-simple-formarray> -->
<!-- <app-nested-single-practice></app-nested-single-practice> -->
<!-- <app-calculater></app-calculater> -->
<!-- <app-switch></app-switch> -->
<!-- <app-parent></app-parent> -->
<!-- <app-reactive-one></app-reactive-one> -->
<!-- <app-reactive-two></app-reactive-two> -->
<!-- <app-add-edit-page></app-add-edit-page> -->
<!-- <app-add-edit-emp></app-add-edit-emp> -->
<!-- <app-rxjs-opr></app-rxjs-opr> -->
<app-parent-zero></app-parent-zero>